## Handling Imbalanced Dataset:

1. Up Sampling
2. Down Sampling

In [4]:
import pandas as pd
import numpy as np

In [2]:
# Set the seed for reproduciblity
np.random.seed(123)

# Create a dataframe with 2 classes
n_samples = 1000
class_0_ratio = 0.9

n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [5]:
# CREATE MY DATASET WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2': np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [6]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [7]:
df.shape

(1000, 3)

In [8]:
df.target.value_counts()

target
0    900
1    100
Name: count, dtype: int64

---

### 1. <u>Up Sampling</u>:

In [9]:
df_minority = df[df.target == 1]
df_majority = df[df.target == 0]

In [ ]:
from sklearn.utils import resample

df_minority_upsample = resample(df_minority,replace=True # samples with replacements of the data points,
         n_samples=len(df_majority), random_state=42)

In [12]:
df_minority_upsample.shape

(900, 3)

In [13]:
df_upsampled = pd.concat([df_majority,df_minority_upsample])

In [14]:
df_upsampled.shape

(1800, 3)

In [17]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

---

### 2. <u>Down Sampling</u>:

For this also, creating the same dataframe as upsampling

In [18]:
# Set the seed for reproduciblity
np.random.seed(123)

# Create a dataframe with 2 classes
n_samples = 1000
class_0_ratio = 0.9

n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

# CREATE MY DATASET WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2': np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2': np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

df1 = pd.concat([class_0,class_1]).reset_index(drop=True)
df1.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [19]:
df1.target.value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [27]:
# downsampling
df_minority = df[df.target == 1]
df_majority = df[df.target == 0]

In [28]:
df_majority_downsample = resample(df_majority,replace=False,
                                  n_samples=len(df_minority),random_state=42)

In [30]:
df_majority_downsample.shape

(100, 3)

In [33]:
df_downsampled = pd.concat([df_minority,df_majority_downsample])
df_downsampled.head()

     feature1  feature2  target
900  1.699768  2.139033       1
901  1.367739  2.025577       1
902  1.795683  1.803557       1
903  2.213696  3.312255       1
904  3.033878  3.187417       1

In [34]:
df_downsampled.shape

(200, 3)

In [35]:
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64