### SQL and SQLite

SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. Sqlite is a self-contained, serverless and zero-configuration database engine that is widely used for embedded database systems. Here we will cover the basics of SQL and SQLite, including (CRUD Operations) creating databases, tables and performing various SQL operations.

> #### <u>SQL</u>: It is entirely an application different from SQLite which contains different configurations to perform. We needs to setup server here and it deals with relational databases.
> #### <u>SQLite</u>: It is a light weight version of SQL. With out any configuration, you can create the database and even store them in your local system. This is the reason it is widely used in embeded databases system.

- To create db or records and save them, we have to use the module ```sqlite3``` 
- **Note**: By default, in Python 3+ sqlite3 is pre-installed.

In [1]:
import sqlite3

In [ ]:
# Connect to a sqlite db. Here, we are creating the db and connecting to it.
connection = sqlite3.connect('example.db')
connection

In [ ]:
# Now, we will create a 'cursor' object so that it can be used to create or iterate over rows,columns,tables,etc
cursor = connection.cursor()

In [ ]:
# Now, create a table inside the db that we created earlier.
cursor.execute('''
    create table if not exists employees(
        id int primary key autoincrement,
        name text not null,
        age int,
        dept text
    )
''')

# commit the changes made to the connection/db (whenever we make any change in the database, in order to persist it, we have to commit it.)
connection.commit()

In [6]:
cursor.execute('''
select * from employees
''') # if any cursor object is returned as output, then the table has been created

In [9]:
# insert the data in sqlite table
cursor.execute('''
insert into employees(name,age,dept)
               values('Kalyan',19,'AI Engineer')
''')

cursor.execute('''
insert into employees(name,age,dept)
               values('Krish',32,'Data Scientist')
''')

cursor.execute('''
insert into employees(name,age,dept)
               values('Bob',22,'Sales Person')
''')

# commit the change
connection.commit()

In [12]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(None, 'Kalyan', 19, 'AI Engineer')
(None, 'Krish', 32, 'Data Scientist')
(None, 'Bob', 22, 'Sales Person')

In [13]:
# update value in table
cursor.execute('''
update employees
set age=34
where name="Krish"
''')

# commit change
connection.commit()

# display the rows again
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(None, 'Kalyan', 19, 'AI Engineer')
(None, 'Krish', 34, 'Data Scientist')
(None, 'Bob', 22, 'Sales Person')

In [15]:
# delete the data from table
cursor.execute('''
delete from employees 
where name="Bob"
''')

connection.commit

In [ ]:
# display the rows again
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row) # record bob has been deleted

(None, 'Kalyan', 19, 'AI Engineer')
(None, 'Krish', 34, 'Data Scientist')

---

## ðŸ’  <u>Project</u> : Working With Sales Data

In [ ]:
# cursor.execute('drop table sales') # do this to remove any pre-existing tables

In [25]:
# create a new db and connect to it
connection = sqlite3.connect("sales_data.db")
cursor = connection.cursor()

# create a table for sales data
cursor.execute('''
create table if not exists sales(
    id integer primary key autoincrement,
    date text not null,
    product text not null,
    sales int,
    region text
)
''')

In [26]:
# insert some sales data
sales_data = [
    ("2025-01-01", "Laptop",       150,  "North"),
    ("2025-01-01", "Smartphone",   127, "North"),
    ("2025-01-02", "Laptop",       356,  "South"),
    ("2025-01-02", "Headphones",   200, "East"),
    ("2025-01-03", "Smartwatch",   172,  "West"),
    ("2025-01-03", "Laptop",       243,  "East"),
    ("2025-01-04", "Headphones",   315, "South"),
    ("2025-01-04", "Smartphone",   410, "West"),
    ("2025-01-05", "Tablet",       367,  "North"),
    ("2025-01-05", "Smartwatch",   385,  "South")
]

cursor.executemany('''
insert into sales(date,product,sales,region)
                   values(?,?,?,?)

''',sales_data)  #in order to execute/insert a bulk of commands, we will be using .executemany()

# commit the changes
connection.commit()

In [27]:
# display the rows
cursor.execute('select * from sales')
rows = cursor.fetchall()

for row in rows:
    print(row) # record bob has been deleted

(1, '2025-01-01', 'Laptop', 150, 'North')
(2, '2025-01-01', 'Smartphone', 127, 'North')
(3, '2025-01-02', 'Laptop', 356, 'South')
(4, '2025-01-02', 'Headphones', 200, 'East')
(5, '2025-01-03', 'Smartwatch', 172, 'West')
(6, '2025-01-03', 'Laptop', 243, 'East')
(7, '2025-01-04', 'Headphones', 315, 'South')
(8, '2025-01-04', 'Smartphone', 410, 'West')
(9, '2025-01-05', 'Tablet', 367, 'North')
(10, '2025-01-05', 'Smartwatch', 385, 'South')

In [28]:
# close the connection
connection.close()

In [ ]:
# to verify whether the connectiom is closed or not
cursor.execute('select * from employees')

ProgrammingError: Cannot operate on a closed database.